@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    /* --preto: #272727;
    --amarelo:#e4c931;
    --branco: #FAFFD8; */
    --preto: #1ABC9C;
    --amarelo:#2C3E50;
    --branco: #3498DB;
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    min-height: 100vh;
}
footer{
    font-family: 'roboto', sans-serif;
    padding: 25px;

    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
    justify-content: space-between;
    background-color: var(--amarelo);
}
table {
    width: 100vw;
    border-collapse: separate;
    border-spacing: 0;
}
tfoot{
    filter: brightness(0.9);
}
tfoot tr{
    background-color: var(--amarelo);
    height: 60px;
    
}
tfoot td{
    border: 1px solid black;
}
tfoot td:first-child{
    border-right: 0px;
}
tfoot td:not(:first-child):not(:last-child){
    border-right: 0px;
    border-left: 0px;
}

tfoot td:last-child{
    border-left: 0px;
}
th, td {
    border: 1px solid var(--preto);
    border: 1px solid #BDC3C7;
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--branco);
    color: var(--preto);
}

caption {
    background-color: var(--amarelo);
    font-weight: bold;
    padding: 15px;
    width: 100vw;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    color:#ECF0F1;
    position: sticky;
    left: 0;
}
tbody tr td:first-child{
    position: sticky;
    left: 0;
    background-color: var(--branco);
    color: #ECF0F1;
    background-color: #34495E;
    border: 1px solid black;
}
thead tr th{
    position: sticky;
    top: 0;
    background-color: var(--branco);
    color: #ECF0F1;
    background-color: #34495E;
    z-index: 1;
    border: 1px solid var(--preto);
    border: 1px solid #BDC3C7;
    border: 1px solid black;
}
thead tr th:first-child{
    left: 0;
    z-index: 2;
}
nav{
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: var(--preto);
    z-index: 3;
    border-bottom: 1px solid;
    
}
nav ul{
    justify-content: space-around;
    display: flex;
    height: 50px;
    align-items: center;
}
nav ul a{
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--amarelo);
    flex-grow: 1;
    text-align: center;
    color: var(--preto);
    color:#ECF0F1;
    font-size: 1.5em;
    text-decoration: none;
    transition: filter 500ms, font-size 250ms;
}
main{
    overflow-x: hidden;
    overflow-y: hidden;
}
li{
    list-style: none;
}
nav ul a:hover{
    filter: brightness(1.2);
    font-size: 2em;
}
a.active{
    text-decoration: underline !important;
    
}
tbody tr:nth-child(even){
    filter: brightness(0.9);
    background-color: var(--branco); 
    background-color:#ECF0F1; 
}
@media (max-width: 768px) {
    table, th, td {
        font-size: 12px;
    }
    footer img{
        height: 75px;
    }
    footer{
        flex-direction: column;
    }
    main{
        font-size: 0.85rem;
    }
}
body {
    margin-top: 50px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
main {
    overflow-x: hidden !important;
}
main p {
    text-align: justify;
    font-size: 1.4em;
    line-height: 1.6;
}
.resumo1, .resumo2 {
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.resumo2 h2 {
    font-size: 24px;
    color: #f3f3f3;
}
.image-container {
    text-align: center;
    margin: 20px 0;
}
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer h1 {
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .resumo1 .container, .resumo2 .container{
        flex-direction: column;
        img{
            width: 100%;
            max-width: 90%;

        }
        p{
            width: 90% !important;
        }
    }
    .resumo2 .container{
        flex-direction: column-reverse;
    }
}
h1{
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    color: #34495E;
}


h2{
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    color: #34495E;
}

.resumo1{
    background-color: var(--branco);
    color: var(--preto);
    background-color: #ECF0F1;
    color: #34495E;
}

.resumo2{
    background-color: var(--preto);
    color: var(--branco);
    background-color: #34495E;
    color: #ECF0F1;

}

.resumo1, .resumo2{
    padding: 30px 25px 50px 25px;
}
.resumo{
    text-align: justify;
}
footer img{
    max-height: 100px;
}
footer a{
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    color:#ffffff;
}
footer h1{
    font-size: 1em;
    color: #ffffff;
}
.resumo1 .container, .resumo2 .container{
    img{
        width: 700px;
    }
    p{
        width: 50%;
    }
    gap: 25px;
}