
#mapa{
    overflow: hidden;
    height: 1044px;
    width: 1059px;
    svg{
        transform-origin: 0 0;
        
    }
}
g>path{
    transform: translate(-46.85%,-58.5%) scale(3.17);
}
#Municï¿½pios>path{

    cursor: pointer;
    /* transition: all s; */
}
#Municï¿½pios>text{

    pointer-events: none;
    /* transition: all s; */
}
#Municï¿½pios>path:hover{
    fill: rgb(40, 73, 143);
}
.clicked{
    fill: #0f0 !important;
}

#mapaDiv{
    display: flex;

    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 700px){
    #mapa{
        width: 1700px;
    }
}